.navbar{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.nav-items>ul>li{
    list-style-type: none;
    display: inline;
    padding: 1rem;
}

.container{
    border: 1px solid black;
}
.footer{
    border: 1px solid black;
}